fastapi==0.95.1
uvicorn==0.22.0
deepface==0.0.75
retinaface==0.0.12
shutilwhich==1.1.0  # shutil là thư viện chuẩn, nhưng shutilwhich giúp kiểm tra nếu sử dụng trên một số nền tảng
pydantic==1.10.10  # Được sử dụng bởi FastAPI để xác thực dữ liệu
typing-extensions==4.5.0  # Được sử dụng bởi FastAPI cho các kiểu dữ liệu mở rộng

# Optional for environment variables (if needed)
python-dotenv==1.0.0
